.Button {
  display: grid;
  grid-auto-flow: column;
  place-items: center center;
  place-content: center center;
  column-gap: 12px;
  height: 62px;
  padding-inline: 18px;
  border: solid 2px transparent;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 800;
  color: var(--color-white);
  fill: var(--color-white);
  background-color: var(--color-purple-light);
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.Button:hover {
  background-color: var(--color-yellow-light);
}

.Button:disabled {
  color: var(--color-gray-dark);
  fill: var(--color-gray-dark);
  background-color: var(--color-gray-light);;
  cursor: not-allowed;
}