@import "/src/components/Button/styles.module.css";

.ButtonOutlined {
  composes: Button;
  border-color: var(--color-purple-light);
  color: var(--color-purple-light);
  fill: var(--color-purple-light);
  background-color: #f7f5fa;
}

.ButtonOutlined:hover {
  color: var(--color-white);
  fill: var(--color-white);
  background-color: var(--color-purple-light);
}

.ButtonOutlined:disabled {
  color: #adaeb2;
  fill: #adaeb2;
  background-color: var(--color-white);
  border-color: #adaeb2;
}