/* #root {
  display: grid;
  place-content: center center;
  min-height: 100svh;
} */

.layout {
  display: grid;
  grid-template-columns: 100px 1fr;
  min-height: calc(100svh - var(--desktop-header-height));
}

.main {
  display: grid;
  align-content: start;
  row-gap: 32px;
  padding: 32px;

  /* padding-right: 640px; */
  max-width: 1174px;
}

.filters {
  display: flex;
  column-gap: 32px;

}

.button,
.input {
  height: 62px;
  border: solid 2px black;
  border-radius: 10px;
}

.input:last-child {
  margin-left: auto;
}


.table {
  --border: solid 2px black;
  display: grid;
  border: var(--border);
  border-radius: 5px;
}

.table tr {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  /* grid-template-columns: 70px repeat(7, minmax(100px, 1fr)) 100px; */
  grid-template-columns: 70px 1fr 1.5fr 1fr 1.5fr 1.5fr 1fr 1fr 100px;
  align-items: center;
  justify-items: center;
  padding-block: 15px;
}

thead > tr {
  height: 70px;
}

tbody > tr {
  border-top: var(--border);
}

th {
  font-weight: 800;
}

th,
td {
  padding-inline: 5px;
}